<script setup lang="ts">
useHead({
  title: 'Frontend Mentor | Blog preview card',
  meta: [
    {
      charset: 'UTF-8'
    },
    {
      name: 'viewport',
      content: 'width=device-width, initial-scale=1.0'
    }
  ],
  link: [
    {
      rel: 'icon',
      type: 'image/png',
      sizes: '32x32',
      href: 'favicon-32x32.png'
    }
  ],
  htmlAttrs: {
    lang: 'en'
  }
})

const img = useImage()
const backgroundStyles = computed(() => {
  const imgUrl = img('illustration-article.svg')
  return { backgroundImage: `url('${imgUrl}')` }
})
</script>

<template>
  <main>
    <div class="wrapper">
      <div class="img" :style="backgroundStyles" alt="article illustration" />
      <div class="content">
        <div class="tag bold">
          Learning
        </div>
        <div class="date">
          Published 21 Dec 2023
        </div>
        <h1 class="bold">
          HTML & CSS foundations
        </h1>
        <p>
          These languages are the backbone of every website, defining structure, content, and presentation.
        </p>
        <div class="author">
          <NuxtImg src="image-avatar.webp" alt="author avatar" />
          <p class="bold">
            Greg Hooper
          </p>
        </div>
      </div>
    </div>
  </main>
</template>

<style>
html {
  --clr-yellow: hsl(47, 88%, 63%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-gray: hsl(0, 0%, 50%);
  --clr-black: hsl(0, 0%, 7%);

  font-size: 14px;
  font-family: Figtree;
  font-weight: 600;

  background-color: var(--clr-yellow);
}

main {
  height: 100dvh;
  display: flex;
  justify-content: center;
}

.wrapper {
  align-self: center;
  background-color: var(--clr-white);
  padding: 23px;
  border: 1px solid var(--clr-black);
  border-radius: 18px;
  width: min-content;
  box-shadow: 9px 9px 0px black;
  transition: 0.3s ease-in-out box-shadow;
}

.bold {
  font-weight: 800;
}

.wrapper > .img {
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  width: 280px;
  height: 201px;
  transition: 0.3s ease-in-out width;
}

.content {
  margin-top: 24px;
  display: flex;
  flex-flow: column;
  gap: 11px;
}

.content > .tag {
  background-color: var(--clr-yellow);
  width: max-content;
  padding: 3px 10px;
  font-size: 0.9rem;
  border-radius: 4px;
}

.content > h1 {
  font-size: 1.5rem;
}

.content > p {
  color: var(--clr-gray)
}

.author {
  display: flex;
  align-items: center;
  margin-top: 13px;
  gap: 15px;
}

.wrapper:hover {
  box-shadow: 17px 17px 0px black;
}

.wrapper:hover :where(h1) {
  color: var(--clr-yellow);
}

@media (min-width: 376px) {
  html {
    font-size: 16px;
  }
  .wrapper > .img {
    width: 336px;
  }
}
</style>
