/*
Credit: Josh W Comeau.
Url: https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
    font: inherit;
}
html,
body {
    height: 100%;
}
ul[role='list'],
ol[role='list'] {
    list-style: none;
}
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
img {
/*
Credit: Harry Roberts.
Url: https://twitter.com/csswizardry/status/1717841334462005661
*/
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    font-style: italic;
    background-repeat: no-repeat;
    background-size: cover;
    shape-margin: 0.75rem;
}
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}
#root,
#__next,
#__nuxt {
    isolation: isolate;
}
a:not([class]) {
    text-decoration-skip-ink: auto;
}
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}
